*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Arimo", system-ui;
}


.container{
    margin: 0 100px;
}

@media screen and (max-width : 768px) {
    .container {
        margin: 0 20px;
    }
}

header {
    background-color: #000;
    grid-template-areas: "nav";
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
a {
    text-decoration: none;
}
.button {
    padding: 5px 10px;
    border-radius: 30px;
    border: 0; 
    transition: all .5s;
    font-size: 14px;
}
a.button {
    display: inline-block;
}
nav .button{
    font-weight: bold;
    background-color: #fff;
    color: #000;
}
nav .button:hover{
    background-color: #000;
    color: #fff;
}

